*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospaces;
  color: white;
  background-color: navy;
}

li{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

h1{
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}


h2{
  text-align: center;
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
}

#app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  }

#add-bar{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

input{
  height: 50px;
  width: 400px;
  padding: 10px;
  margin: 0 2px;
  font-size: 20px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospaces;
  }

button{
  width: 50px;
  height: 50px;
  margin: 0 2px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospaces;
  color: navy;
  background-color: orange;
}

button:active{
    background-color: gold;
}

.task-list{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.container-list{
  width: 900px;
  padding: 30px;
  border-radius: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: navy;
  background-color: white;
}

.task,.task-done{
  margin: 10px 0;
}

.task-done{
  text-decoration: line-through;
}

#checkbox{
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 120px;
}

.fa-solid.fa-square-xmark{
  color: lightslategray;
}


.fa-solid.fa-square-xmark:hover{
  color: orange;
}

.fa-solid.fa-square-xmark:active{
  color: red;
}
